{% extends "layout-reviews.html" %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
        <!-- Post header-->
        <header class="mb-4">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1 text-white">{{article.title_art}}</h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2">Posted on {{article.date}} by Jaborg</div>
        </header>
        <!-- Preview image figure-->
      </div>
    </div>

        <div class='container' style='  text-align: center;'>
        <figure><img class="img-fluid rounded" src={{article.picture}} alt="..." style="width:50%"></figure></div>
        <!-- Post content-->
        <section class="mb-5 bg-light rounded"style="
          background-image: url('https://i.ibb.co/rsVZcbb/bg-solid.jpg')">
          <div class ='p-3  container text-white bg-dark'>

          <p class="fs-5 mb-4 center-text " style="white-space: pre-line ;font-family:Helvetica">{{article.main_text}} </p>
          </div>
        </section>

    </div>





{% endblock %}
