{% extends "layout-reviews.html" %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
        <!-- Post header-->
        <header class="mb-4">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1 text-white">{{article.title_art}}</h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2">Posted on {{article.date}} by Jaborg</div>
        </header>
        <!-- Preview image figure-->
      </div>
    </div>

        <div class='container' style='  text-align: center;'>
        <figure><img class="img-fluid rounded" src={{article.picture}} alt="..." width=700pm></figure></div>
        <!-- Post content-->
        <section class="mb-5 bg-light rounded">
          <div class ='p-3  container'>

          <p class="fs-5 mb-4 center-text" style="white-space: pre-line">{{article.main_text}} </p>
          </div>
        </section>

    </div>





{% endblock %}
