<html>

<head>
  <title> Introspection is a tool to carve out serenity </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/styles.css') }}">

</head>

<body>



  <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="
    background-image: url('https://i.ibb.co/rsVZcbb/bg-solid.jpg');
   ">
    <img src="https://i.ibb.co/wcYKXF1/logo-hobbit.jpg" class="img-responsive rounded-circle" style="width:4%" />
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reviews">reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/information">information</a>
      </li>

    </ul>


  </nav>
  <p></p>
  <div class='container'>
    <section class="jumbotron p-3 p-md-5 text-center">
      <div class="p-3 p-md-5  container bg-dark rounded text-white">
        <h1 class="jumbotron-heading">BETRACHTUNG</h1>
        <p class="lead text-white">mirroring memories from novels into a simple format for anyone to gaze into </p>


        <img src="https://i.ibb.co/19kFy9S/london.jpg" class="img-responsive rounded-circle" alt="Townhouses and Skyscrapers" style="width:30%" />
        <img src="https://i.ibb.co/mGJz684/A275744-R1-09-15-A.jpg" class="img-responsive rounded-circle" alt="Townhouses and Skyscrapers" style="width:30%" />
        <p></p>
        <p>“A good reader, a major reader, an active and creative reader is a rereader.”</p>
      </div>
  </div>
  <p> </p>




  </section>


  <div class=" container p-4 p-md-3 bg-dark  rounded" align="center">
    <div class="container text-white center-text  rounded " align="left">
      <h3 style="padding-bottom;50px;">a few of my favourite books</h3>
      <p> </p>

    </div>
    <div class='row ml-auto'>
      <div class="col-md-3">

        <div class="flip-card mb-3 bg-dark">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card mb-3 box-shadow" style="width: 10rem;">
                <img class="card-img-top" src="https://i.ibb.co/yN0HCxp/Silmarillion-cover.jpg" data-holder-rendered="true">

              </div>
            </div>
            <div class="flip-card-back ">

              <p> An epic masterpeice that tells the story of Arda, the creation of Middle Earth by Illuvatar, the evil of Melkor and the family of Finwe.</p>
              <p>Composed after his death, this book is the paragon of fantasy writing by Tolkien and a modern mythology.</p>
              <div class="link"><a class ='review-link' href="/articles/1"> Silmarillion reivew </a></div>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">

        <div class="flip-card mb-3 bg-dark">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card mb-3 box-shadow" style="width: 10rem;">
                <img class="card-img-top" src="https://i.ibb.co/8xs7fXq/100years-cover.jpg" data-holder-rendered="true">

              </div>
            </div>
            <div class="flip-card-back ">

              <p> The multi-generational tale of the Buendía family in the village of Macondo, a foundational peice of Latin American magical realism. </p>
              <p>Marquez's narrative is unrelenting and hauntingly beautiful, as it flows through the exploits of the scions of the family tree. </p>

            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="flip-card mb-3 bg-dark">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card mb-3 box-shadow" style="width: 10rem;">
                <img class="card-img-top" src="https://i.ibb.co/7nb1zyG/mortal-engines-cover.jpg" data-holder-rendered="true">

              </div>
            </div>
            <div class="flip-card-back ">

              <p>Mortal Engines is a collection of robtoic themed short stories that verge from the fantastical to the unnerving. </p>
              <p>Lem's ecclectic abilities in his fictions made some believe he was multiple authors under one Soviet guise; Mortal Engines is a demonstration of that talent. </p>

            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="flip-card mb-3 bg-dark">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card mb-3 box-shadow" style="width: 10rem;">
                <img class="card-img-top" src="https://i.ibb.co/Mgq7fsX/theidiot-cover.jpg" data-holder-rendered="true">

              </div>
            </div>
            <div class="flip-card-back ">

              <p>Dostoevsky yet again examines the human condition with his signature depth and directness.</p>
              <p>The story of Prince Myshkin fills you with empathy and feelings of despair, as he struggles to live in a world that is so at odds with his moral character. </p>

            </div>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card mb-3 box-shadow" style="width: 10rem;">
          <img class="card-img-top" src="https://i.ibb.co/NyGQXGV/blacktulip-cover.jpg" data-holder-rendered="true">

        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3 box-shadow" style="width: 10rem;">
          <img class="card-img-top" src="https://i.ibb.co/sqK7f4G/americanpsycho-bookcover.jpg" data-holder-rendered="true">

        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3 box-shadow" style="width: 10rem;">
          <img class="card-img-top" src="https://i.ibb.co/gS27MjV/thegambler-bookcover.jpg" data-holder-rendered="true">

        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3 box-shadow" style="width: 10rem;">
          <img class="card-img-top" src="https://i.ibb.co/PZ03DW9/heartsowhite-bookcover.jpg" data-holder-rendered="true">

        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3 box-shadow" style="width: 10rem;">
          <img class="card-img-top" src="https://i.ibb.co/D9WjqSw/fistfifteen-bookcover.jpg" data-holder-rendered="true">

        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3 box-shadow" style="width: 10rem;">
          <img class="card-img-top" src="https://i.ibb.co/TWWzcVr/palefire-bookcover.png" data-holder-rendered="true">

        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3 box-shadow" style="width: 10rem;">
          <img class="card-img-top" src="https://i.ibb.co/yFqPPZ3/bluemars-bookcover.jpg" data-holder-rendered="true">

        </div>

      </div>

      <div class="col-md-3">
        <div class="card mb-3 box-shadow" style="width: 10rem;">
          <img class="card-img-top" src="https://i.ibb.co/Z6NzrWr/foundation-bookcover.jpg" data-holder-rendered="true">

        </div>

      </div>
      <div>
      </div>
    </div>
  </div>

  <p></p>

</body>



<nav class="bottoms-navbar navbar-expand-lg navbar-light bg-light " style="left: 0;width:100%; position: absolute;  height: 100px">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">Please donate to help a parsimonius man out </a>
      </li>

    </ul>
  </div>
</nav>


<html>
