<html>

<head>
  <title> Introspection is a tool to carve out serenity </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/styles.css') }}">
</head>

<body>


  <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="
          background-image: url('https://i.ibb.co/rsVZcbb/bg-solid.jpg');
        ;width:100%; ">
    <img src="https://i.ibb.co/wcYKXF1/logo-hobbit.jpg" class="img-responsive rounded-circle" style="width:4%" />

    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link " href="/">home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/reviews">reviews</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="/information">information</a>
      </li>

    </ul>

  </nav>
  <p></p>
  <div class='row'>

    <div class="col-md-6  rounded text-white" style='padding:30px;' >
      <div class='container col-md-6 bg-dark text-center' style="background-image: url('https://i.ibb.co/6vXMBvg/linked-in-blue.png');width:100%;height:200px;padding:30px; ">

        <h1 class="jumbotron-heading text-center">LinkedIn</h1>

      </div>
    </div>


    <div class="col-md-6  rounded text-white" style='padding:30px;'>
      <div class='container col-md-6 bg-dark text-center' style="background-image: url('https://i.ibb.co/KVg0780/dakr-grey.png');width:100%;height:200px;padding:30px; ">

        <h1 class="jumbotron-heading text-center">Github</h1>

      </div>


    </div>
  </div>





</body>

<nav class="bottoms-navbar navbar-expand-lg navbar-light bg-light " style="left: 0;width:100%; position: absolute;  height: 100px">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.unicef.org.uk/donate/yemen/">Please donate to help a parsimonius man out </a>
      </li>

    </ul>
  </div>
</nav>
<html>
