<html>

<head>
  <title> Introspection is a tool to carve out serenity </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/styles.css') }}">
</head>

<body>


  <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="
          background-image: url('https://i.ibb.co/rsVZcbb/bg-solid.jpg');
        ;width:100%; ">
    <img src="https://i.ibb.co/wcYKXF1/logo-hobbit.jpg" class="img-responsive rounded-circle" style="width:4%" />

    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link " href="/">home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/reviews">reviews</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="/information">information</a>
      </li>

    </ul>

  </nav>
  <p></p>
  <div class='row'>

    <!-- <div class="col-md-6  rounded text-white" style='padding:30px;' >
      <div class='hov-container col-md-6 bg-dark text-center' style="background-image: url('https://i.ibb.co/6vXMBvg/linked-in-blue.png');width:100%;height:200px;padding:30px; ">

        <h1 class="jumbotron-heading text-center">LinkedIn</h1>

      </div>
    </div>


    <div class="col-md-6  rounded text-white" style='padding:30px;'>
      <div class='hocontainer col-md-6 bg-dark text-center' style="background-image: url('https://i.ibb.co/KVg0780/dakr-grey.png');width:100%;height:200px;padding:30px; ">

        <h1 class="jumbotron-heading text-center">Github</h1>

      </div>


    </div>
  </div> -->

      <div class="col-md-6 " style='padding:30px;'>
                  <div class=" col-md-6 square content-box color-effect-1 rounded" style="background-image: url('https://www.travelandleisure.com/thmb/fLWF_fQweHEqRYpBXqd-G5Jh3bE=/400x0/filters:no_upscale():max_bytes(150000):strip_icc():gifv()/blue0517-4dfc85cb0200460ab717b101ac07888f.jpg');width:100%;height:100%;padding:30px;">
                      <h3>LinkedIn</h3>
                      <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                          <div class="box-icon"><a href="https://www.linkedin.com/in/jacob-lappin-sadiq-06257b177/"><i class="fa fa-user"></i></a></div>
                      </div>
                      <p>For what reason would it be advisable for me to think about business content?</p>
                  </div>
  </div>
    <div class="col-md-6 rounded" style='padding:30px;'>
                <div class="col-md-6 content-box col-md-6 color-effect-1 rounded" style="background-image: url('https://cdn.crispedge.com/43464b.png');width:100%;height:100%;padding:30px;">
                    <h3>Github</h3>
                    <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                        <div class="box-icon" ><a href="https://github.com/Jaborg"><i class="fa fa-user" ></i></a></div>
                    </div>
                    <p>For what reason would it be advisable for me to think about business content?</p>
                </div>
    </div>

</div>




</body>

<nav class="bottoms-navbar navbar-expand-lg navbar-light bg-light " style="left: 0;width:100%; position: absolute;  height: 100px">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.unicef.org.uk/donate/yemen/">Please donate to help a parsimonius man out </a>
      </li>

    </ul>
  </div>
</nav>
<html>
