name: Pull Request Workflow
on:
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: macos-12

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: make setup

      - name: Lint with Black
        run: env/bin/pip3.9 black book_review_web/

      - name: Lint with isort
        run: env/bin/pip3.9 isort requirements.txt

