name: Pull Request Workflow
on:
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: macos-12

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Switch to Current Branch
        run: git checkout ${{env.BRANCH}}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: make setup

      - name: Lint with Black
        run: env/bin/python3.9 -m black .
        id: black


      - name: Lint with isort
        run: env/bin/python3.9 -m isort requirements.txt
        id: isort

      - name: Commit changes
        if: steps.black.outcome == 'success' && steps.isort.outcome == 'success'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git checkout $GITHUB_HEAD_REF
          git add .
          git commit -m "Auto-format code with Black and isort"
          git push

